<section class="gallery">
  <h1>Gallery</h1>
  <ul>
    <li><img /></li>
    <li>
      <p>
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </li>
    <li><h2>Emily, Los Angeles</h2></li>
    <ul>
      <li><img /></li>
      <li>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam ab
          nisi cupiditate animi repudiandae dicta similique aut temporibus
          aliquid repellendus, ratione recusandae consectetur? Ab, incidunt
          adipisci? Expedita provident quos reprehenderit.
        </p>
      </li>
      <li><h2>Emily, Los Angeles</h2></li>
    </ul>
    <ul>
      <li><img /></li>
      <li>
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </li>
      <li><h2>Emily, Los Angeles</h2></li>
    </ul>
  </ul>
</section>
