<div class="backdrop is-hidden" data-backdrop>
    <div class="modal" tabindex="0" data-modal>
        <h2 class="section-title">Оставьте свои данные, мы вам перезвоним</h2>

        <button class="modal__close-btn" data-modal-close>
            <svg class="modal__close-x">
                <use href="./images/sprite.svg#modal-close-x" />
            </svg>
        </button>

        <form class="modal-form" autocomplete="on" data-form-modal>

            <label class="form-field">
                <span class="form-text">Имя</span>
                <span class="form__input-wrapper">
                    <input class="form-input" type="text" name="name" pattern="^[a-zA-ZА-Яа-яЁё\s]+$" required />
                    <svg class="form-icon">
                        <use href="./images/sprite.svg#modal-form-1-name" />
                    </svg>
                </span>
            </label>

            <label class="form-field">
                <span class="form-text">Телефон</span>
                <span class="form__input-wrapper">
                    <input class="form-input" type="tel" name="tel" pattern="^380[0-9]{9}(\s*)?$" required />
                    <svg class="form-icon">
                        <use href="./images/sprite.svg#modal-form-2-phone" />
                    </svg>
                </span>
            </label>

            <label class="form-field">
                <span class="form-text">Почта</span>
                <span class="form__input-wrapper">
                    <input class="form-input" type="email" name="email"
                        pattern="^([a-z0-9_\.-])+@[a-z0-9-]+\.([a-z]{2,4}\.)?[a-z]{2,4}$" required />
                    <svg class="form-icon">
                        <use href="./images/sprite.svg#modal-form-3-email" />
                    </svg>
                </span>
            </label>

            <label class="form-field">
                <span class="form-text">Комментарий</span>
                <textarea class="form-textarea" name="message" placeholder="Введите текст" rows="7"></textarea>
            </label>

            <span class="form-checkbox" data-checkbox-label>
                <input class="form-checkbox__input visually-hidden" type="checkbox" name="checkbox" tabindex="-1"
                    data-checkbox-input />
                <svg class="checkbox-icon" tabindex="0" data-checkbox-icon>
                    <use href="./images/sprite.svg#modal-checkbox-icon" />
                </svg>
                <span class="form__text-checkbox">Соглашаюсь с рассылкой и принимаю <a class="checkbox__text-link"
                        href="javascript: void(0)">Условия договора</a>
                </span>
            </span>

            <button type="submit" class="button--primary">Отправить</button>
        </form>
    </div>
</div>