.card-contackt {
  padding-bottom: 165px;
  font-family: 'DM Sans', sans-serif;
  text-align: center;

  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient($primaryColor 12%, #fff5f6 12%);
}

/* ----------список карток----------- */
.card__list {
  display: flex;
  margin-bottom: 86px;
  margin-left: -30px;
  padding-left: 0;
  list-style: none;
}

.card__item {
  text-align: left;

  background: $primaryColor;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include itemWidthMargin(3);
  padding-top: 50px;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 62px;

  // @include media-size(desktop-1) {
  //   @include itemWidthMargin(3, 20px);
  // }
}
.card__item {
  margin-left: 30px;
}

/* ----------кінець список карток----------- */

.card__text {
  margin-bottom: 32px;
  font-size: 16px;
  color: $thirdColor;
  letter-spacing: 0.04em;
}

%card__title {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 6px;
  color: $primaryColor;
}

.card__title--cafe {
  @extend %card__title;
  background-color: #f0d1a5;
}

.card__title--truck {
  @extend %card__title;
  background-color: #c2e297;
}

.card__caption {
  margin-bottom: 32px;
  color: $secondaryColor;
}

/* -------графік роботи------- */
.working-schedule {
  margin-bottom: 32px;
  padding: 32px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
}

.working-day__item:not(:last-child) {
  margin-bottom: 32px;
}

.working-day__text {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 14px;
  color: $secondaryColor;
}

.working-day__time {
  font-size: 16px;
  color: $extitleColor;
}

.contackt__list {
  text-align: left;
  padding: 0;
  list-style: none;
}

.contackt__link {
  font-size: 16px;
  font-style: normal;
  color: $thirdColor;
}
/* -------кінець графік роботи------- */
/* ---------кнопка така то---------- */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  list-style: none;
}

.card__button-left {
  min-width: 176px;
  min-height: 44px;
  color: $primaryColor;
  margin-right: 15px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: $accentColor;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;
}

.card__button-right {
  min-width: 176px;
  min-height: 44px;
  color: $accentColor;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: $primaryColor;
  border-radius: 22px;
  border: 0 solid transparent;
  cursor: pointer;
}

.card__button-right:hover,
.card__button-right:focus {
  background-color: #ecebeb;
}
